.query-tree {
    position: relative;
    border: 2px solid rgb(154, 154, 154);
    border-radius: 18px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    padding-top: 10px;
}
.query-tree--added-margin {
    margin-right: 20px;
}

.query-tree--selected:active.query-tree--non-root {
    position: relative;
    top: 2px;
}

.query-tree--selected:hover.query-tree--non-root {
    border-color: rgb(255, 120, 120);
}

.query-tree--selected:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.554);
    border-radius: 18px;
    z-index: 1;
    pointer-events: none;
}
.query-tree--selected:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    background: rgba(255, 166, 0, 0.714);
    border-radius: 18px;
    z-index: 1;
    pointer-events: none;
}

.query-tree--selected {
    border: 2px solid orange;
}

.query-tree-dog-props {
    display: flex;
    flex-direction: column;
}
.query-tree-dog-props--added-margin {
    margin-right: 20px;
}

.query-tree-body {
    padding: 6px;
    display: flex;
    flex-direction: row;
}

.query-tree-dog-tag {
    margin-bottom: 8px;
}

img {
    border: 1px solid rgb(154, 154, 154);
}