.dogProp {
    position: relative;
    display: inline-block;
    border: 1px solid gray;
    padding: 4px 8px;
    border-radius: 50px;
    white-space: nowrap;
    color: black;
}

.tagStyles {
    margin-right: 10px;
    margin-top: 12px;
}

.selected {
    border-color: orange;
    color: orange;
}

.skyBlue,
.skyBlue:hover {
    background-color: #FFE9A9 !important;
}

.verdigris,
.verdigris:hover {
    background-color: #97e9ca !important;
}

.cambridgeBlue, .cambridgeBlue:hover {
    background-color: #b6abe4 !important;
}

.vanilla, .vanilla:hover {
    background-color: #FFB4B4 !important;
}

.mistyRose, .mistyRose:hover {
    background-color: #ebfcfb !important;
}