.dogProp {
    display: inline-block;
    border: 1px solid black;
    padding: 4px 8px;
    border-radius: 50px;
    white-space: nowrap;
}
.dogProp:hover {
    cursor: pointer;
}
.tagStyles {
    margin-right: 10px;
    margin-top: 12px;
}

.selected {
    border-color: orange;
    color: orange;
}

.skyBlue {
    background-color: #FFE9A9;
}
.verdigris {
    background-color: #97e9ca;
}
.cambridgeBlue {
    background-color: #b6abe4;
}
.vanilla {
    background-color: #FFB4B4;
}
.mistyRose {
    background-color: #ebfcfb;
}