* {
    box-sizing: border-box;
}

body {
    margin: unset;
}

.App {
    position: relative;
    background-color: rgb(255, 250, 244);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.paw {
    position: absolute;
    height: 80%;
    opacity: 0.02;
}