* {
  box-sizing: border-box;
}
body {
  margin: unset;
}
.layout__top {
  border-bottom: 1px solid lightgray;
  padding: 80px 120px;
}

.layout__bottom {
    display: flex;
}
.layout__right {
    border-left: 1px solid lightgray;
    padding: 40px;
}
.layout__left {
    width: 100%;
    padding: 80px 120px;
}