.input {
    width: 400px;
    margin-right: 20px;
}

.inputButtonContainer {
    display: flex;
    align-items: center;
    margin-top: 36px;
}
@media (max-width: 768px) {
    .inputButtonContainer {
        align-items: flex-start;
    }
    .input {
        margin-bottom: 20px; 
        width: 100%;
    }
}

.button {
    border: 1px solid #ccc;
    cursor: pointer;
}

.img {
    height: 20px;
    opacity: 0.8;
}